@font-face {
  font-family: 'd1';
  src: url(c:\Users\Usuário\Documents\Html e css\Faixa Azul e Rosa\public\assets\fonts\638e832d412ecb3b00880c3c_ggsans-600-semibold.woff2);
}

@font-face {
  font-family: 'd2';
  src: url(c:\Users\Usuário\Documents\Html e css\Faixa Azul e Rosa\public\assets\fonts\638e832d1547073141206c01_ggsans-500-medium.woff2);
}

@font-face {
  font-family: 'd3';
  src: url(c:\Users\Usuário\Documents\Html e css\Faixa Azul e Rosa\public\assets\fonts\638e832dd0e917971f4b6363_ggsans-700-bold.woff2);
}

@font-face {
  font-family: 'd4';
  src: url(c:\Users\Usuário\Documents\Html e css\Faixa Azul e Rosa\public\assets\fonts\638e832df4da7178d0db8e55_ggsans-400-normal.woff2);
}

@font-face {
  font-family: 'd5';
  src: url(c:\Users\Usuário\Documents\Html e css\Faixa Azul e Rosa\public\assets\fonts\6238fecf822246e8a17df337_GintoNord-Bold.woff);
}

@font-face {
  font-family: 'd6';
  src: url(c:\Users\Usuário\Documents\Html e css\Faixa Azul e Rosa\public\assets\fonts\62390165a316ac8469991d71_GintoNord-Medium.woff);
}

